html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {background: transparent;border: 0;margin: 0;padding: 0;vertical-align: baseline;}
body {line-height: 1;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
ol, ul {list-style: none;}
blockquote {quotes: none;}
blockquote:before, blockquote:after {content: '';content: none;}
del {text-decoration: line-through;}

/* Grid (ver em http://960.gs)
-------------------------------------------------------------- */
.container_11 { margin: 0 auto; width: 96%; }
.alpha { margin-left: 0 !important; }
.omega { margin-right: 0 !important; }
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,.grid_11{ display:inline; float: left; position: relative; margin-left: 1.0%; margin-right: 1.0%;}
.container_11 .grid_1{width:7.09091%;}
.container_11 .grid_2{width:16.18182%;}
.container_11 .grid_3{width:25.27273%;}
.container_11 .grid_4{width:34.36364%;}
.container_11 .grid_5{width:43.45455%;}
.container_11 .grid_6{width:52.54546%;}
.container_11 .grid_7{width:61.63637%;}
.container_11 .grid_8{width:70.72728%;}
.container_11 .grid_9{width:79.81819%;}
.container_11 .grid_10{width:88.9091%;}
.container_11 .grid_11{width:98.00001%;}
.grid_1 .grid_1{width:97.0%;margin-left: 12.0%;margin-right: 12.0%;}
.grid_1 .grid_2{width:197.0%;margin-left: 12.0%;margin-right: 12.0%;}
.grid_1 .grid_3{width:297.0%;margin-left: 12.0%;margin-right: 12.0%;}
.grid_1 .grid_4{width:397.0%;margin-left: 12.0%;margin-right: 12.0%;}
.grid_1 .grid_5{width:497.0%;margin-left: 12.0%;margin-right: 12.0%;}
.grid_1 .grid_6{width:597.0%;margin-left: 12.0%;margin-right: 12.0%;}
.grid_1 .grid_7{width:697.0%;margin-left: 12.0%;margin-right: 12.0%;}
.grid_1 .grid_8{width:797.0%;margin-left: 12.0%;margin-right: 12.0%;}
.grid_1 .grid_9{width:897.0%;margin-left: 12.0%;margin-right: 12.0%;}
.grid_1 .grid_10{width:997.0%;margin-left: 12.0%;margin-right: 12.0%;}
.grid_1 .grid_11{width:1097.0%;margin-left: 12.0%;margin-right: 12.0%;}
.grid_2 .grid_1{width:47.0%;margin-left: 6.0%;margin-right: 6.0%;}
.grid_2 .grid_2{width:97.0%;margin-left: 6.0%;margin-right: 6.0%;}
.grid_2 .grid_3{width:147.0%;margin-left: 6.0%;margin-right: 6.0%;}
.grid_2 .grid_4{width:197.0%;margin-left: 6.0%;margin-right: 6.0%;}
.grid_2 .grid_5{width:247.0%;margin-left: 6.0%;margin-right: 6.0%;}
.grid_2 .grid_6{width:297.0%;margin-left: 6.0%;margin-right: 6.0%;}
.grid_2 .grid_7{width:347.0%;margin-left: 6.0%;margin-right: 6.0%;}
.grid_2 .grid_8{width:397.0%;margin-left: 6.0%;margin-right: 6.0%;}
.grid_2 .grid_9{width:447.0%;margin-left: 6.0%;margin-right: 6.0%;}
.grid_2 .grid_10{width:497.0%;margin-left: 6.0%;margin-right: 6.0%;}
.grid_2 .grid_11{width:547.0%;margin-left: 6.0%;margin-right: 6.0%;}
.grid_3 .grid_1{width:30.3333333333%;margin-left: 4.0%;margin-right: 4.0%;}
.grid_3 .grid_2{width:63.6666666667%;margin-left: 4.0%;margin-right: 4.0%;}
.grid_3 .grid_3{width:97.0%;margin-left: 4.0%;margin-right: 4.0%;}
.grid_3 .grid_4{width:130.333333333%;margin-left: 4.0%;margin-right: 4.0%;}
.grid_3 .grid_5{width:163.666666667%;margin-left: 4.0%;margin-right: 4.0%;}
.grid_3 .grid_6{width:197.0%;margin-left: 4.0%;margin-right: 4.0%;}
.grid_3 .grid_7{width:230.333333333%;margin-left: 4.0%;margin-right: 4.0%;}
.grid_3 .grid_8{width:263.666666667%;margin-left: 4.0%;margin-right: 4.0%;}
.grid_3 .grid_9{width:297.0%;margin-left: 4.0%;margin-right: 4.0%;}
.grid_3 .grid_10{width:330.333333333%;margin-left: 4.0%;margin-right: 4.0%;}
.grid_3 .grid_11{width:363.666666667%;margin-left: 4.0%;margin-right: 4.0%;}
.grid_4 .grid_1{width:22.0%;margin-left: 3.0%;margin-right: 3.0%;}
.grid_4 .grid_2{width:47.0%;margin-left: 3.0%;margin-right: 3.0%;}
.grid_4 .grid_3{width:72.0%;margin-left: 3.0%;margin-right: 3.0%;}
.grid_4 .grid_4{width:97.0%;margin-left: 3.0%;margin-right: 3.0%;}
.grid_4 .grid_5{width:122.0%;margin-left: 3.0%;margin-right: 3.0%;}
.grid_4 .grid_6{width:147.0%;margin-left: 3.0%;margin-right: 3.0%;}
.grid_4 .grid_7{width:172.0%;margin-left: 3.0%;margin-right: 3.0%;}
.grid_4 .grid_8{width:197.0%;margin-left: 3.0%;margin-right: 3.0%;}
.grid_4 .grid_9{width:222.0%;margin-left: 3.0%;margin-right: 3.0%;}
.grid_4 .grid_10{width:247.0%;margin-left: 3.0%;margin-right: 3.0%;}
.grid_4 .grid_11{width:272.0%;margin-left: 3.0%;margin-right: 3.0%;}
.grid_5 .grid_1{width:17.0%;margin-left: 2.4%;margin-right: 2.4%;}
.grid_5 .grid_2{width:37.0%;margin-left: 2.4%;margin-right: 2.4%;}
.grid_5 .grid_3{width:57.0%;margin-left: 2.4%;margin-right: 2.4%;}
.grid_5 .grid_4{width:77.0%;margin-left: 2.4%;margin-right: 2.4%;}
.grid_5 .grid_5{width:97.0%;margin-left: 2.4%;margin-right: 2.4%;}
.grid_5 .grid_6{width:117.0%;margin-left: 2.4%;margin-right: 2.4%;}
.grid_5 .grid_7{width:137.0%;margin-left: 2.4%;margin-right: 2.4%;}
.grid_5 .grid_8{width:157.0%;margin-left: 2.4%;margin-right: 2.4%;}
.grid_5 .grid_9{width:177.0%;margin-left: 2.4%;margin-right: 2.4%;}
.grid_5 .grid_10{width:197.0%;margin-left: 2.4%;margin-right: 2.4%;}
.grid_5 .grid_11{width:217.0%;margin-left: 2.4%;margin-right: 2.4%;}
.grid_6 .grid_1{width:13.6666666667%;margin-left: 2.0%;margin-right: 2.0%;}
.grid_6 .grid_2{width:30.3333333333%;margin-left: 2.0%;margin-right: 2.0%;}
.grid_6 .grid_3{width:47.0%;margin-left: 2.0%;margin-right: 2.0%;}
.grid_6 .grid_4{width:63.6666666667%;margin-left: 2.0%;margin-right: 2.0%;}
.grid_6 .grid_5{width:80.3333333333%;margin-left: 2.0%;margin-right: 2.0%;}
.grid_6 .grid_6{width:97.0%;margin-left: 2.0%;margin-right: 2.0%;}
.grid_6 .grid_7{width:113.666666667%;margin-left: 2.0%;margin-right: 2.0%;}
.grid_6 .grid_8{width:130.333333333%;margin-left: 2.0%;margin-right: 2.0%;}
.grid_6 .grid_9{width:147.0%;margin-left: 2.0%;margin-right: 2.0%;}
.grid_6 .grid_10{width:163.666666667%;margin-left: 2.0%;margin-right: 2.0%;}
.grid_6 .grid_11{width:180.333333333%;margin-left: 2.0%;margin-right: 2.0%;}
.grid_7 .grid_1{width:11.2857142857%;margin-left: 1.71428571429%;margin-right: 1.71428571429%;}
.grid_7 .grid_2{width:25.5714285714%;margin-left: 1.71428571429%;margin-right: 1.71428571429%;}
.grid_7 .grid_3{width:39.8571428571%;margin-left: 1.71428571429%;margin-right: 1.71428571429%;}
.grid_7 .grid_4{width:54.1428571429%;margin-left: 1.71428571429%;margin-right: 1.71428571429%;}
.grid_7 .grid_5{width:68.4285714286%;margin-left: 1.71428571429%;margin-right: 1.71428571429%;}
.grid_7 .grid_6{width:82.7142857143%;margin-left: 1.71428571429%;margin-right: 1.71428571429%;}
.grid_7 .grid_7{width:97.0%;margin-left: 1.71428571429%;margin-right: 1.71428571429%;}
.grid_7 .grid_8{width:111.285714286%;margin-left: 1.71428571429%;margin-right: 1.71428571429%;}
.grid_7 .grid_9{width:125.571428571%;margin-left: 1.71428571429%;margin-right: 1.71428571429%;}
.grid_7 .grid_10{width:139.857142857%;margin-left: 1.71428571429%;margin-right: 1.71428571429%;}
.grid_7 .grid_11{width:154.142857143%;margin-left: 1.71428571429%;margin-right: 1.71428571429%;}
.grid_8 .grid_1{width:9.5%;margin-left: 1.5%;margin-right: 1.5%;}
.grid_8 .grid_2{width:22.0%;margin-left: 1.5%;margin-right: 1.5%;}
.grid_8 .grid_3{width:34.5%;margin-left: 1.5%;margin-right: 1.5%;}
.grid_8 .grid_4{width:47.0%;margin-left: 1.5%;margin-right: 1.5%;}
.grid_8 .grid_5{width:59.5%;margin-left: 1.5%;margin-right: 1.5%;}
.grid_8 .grid_6{width:72.0%;margin-left: 1.5%;margin-right: 1.5%;}
.grid_8 .grid_7{width:84.5%;margin-left: 1.5%;margin-right: 1.5%;}
.grid_8 .grid_8{width:97.0%;margin-left: 1.5%;margin-right: 1.5%;}
.grid_8 .grid_9{width:109.5%;margin-left: 1.5%;margin-right: 1.5%;}
.grid_8 .grid_10{width:122.0%;margin-left: 1.5%;margin-right: 1.5%;}
.grid_8 .grid_11{width:134.5%;margin-left: 1.5%;margin-right: 1.5%;}
.grid_9 .grid_1{width:8.11111111111%;margin-left: 1.33333333333%;margin-right: 1.33333333333%;}
.grid_9 .grid_2{width:19.2222222222%;margin-left: 1.33333333333%;margin-right: 1.33333333333%;}
.grid_9 .grid_3{width:30.3333333333%;margin-left: 1.33333333333%;margin-right: 1.33333333333%;}
.grid_9 .grid_4{width:41.4444444444%;margin-left: 1.33333333333%;margin-right: 1.33333333333%;}
.grid_9 .grid_5{width:52.5555555556%;margin-left: 1.33333333333%;margin-right: 1.33333333333%;}
.grid_9 .grid_6{width:63.6666666667%;margin-left: 1.33333333333%;margin-right: 1.33333333333%;}
.grid_9 .grid_7{width:74.7777777778%;margin-left: 1.33333333333%;margin-right: 1.33333333333%;}
.grid_9 .grid_8{width:85.8888888889%;margin-left: 1.33333333333%;margin-right: 1.33333333333%;}
.grid_9 .grid_9{width:97.0%;margin-left: 1.33333333333%;margin-right: 1.33333333333%;}
.grid_9 .grid_10{width:108.111111111%;margin-left: 1.33333333333%;margin-right: 1.33333333333%;}
.grid_9 .grid_11{width:119.222222222%;margin-left: 1.33333333333%;margin-right: 1.33333333333%;}
.grid_10 .grid_1{width:7.0%;margin-left: 1.2%;margin-right: 1.2%;}
.grid_10 .grid_2{width:17.0%;margin-left: 1.2%;margin-right: 1.2%;}
.grid_10 .grid_3{width:27.0%;margin-left: 1.2%;margin-right: 1.2%;}
.grid_10 .grid_4{width:37.0%;margin-left: 1.2%;margin-right: 1.2%;}
.grid_10 .grid_5{width:47.0%;margin-left: 1.2%;margin-right: 1.2%;}
.grid_10 .grid_6{width:57.0%;margin-left: 1.2%;margin-right: 1.2%;}
.grid_10 .grid_7{width:67.0%;margin-left: 1.2%;margin-right: 1.2%;}
.grid_10 .grid_8{width:77.0%;margin-left: 1.2%;margin-right: 1.2%;}
.grid_10 .grid_9{width:87.0%;margin-left: 1.2%;margin-right: 1.2%;}
.grid_10 .grid_10{width:97.0%;margin-left: 1.2%;margin-right: 1.2%;}
.grid_10 .grid_11{width:107.0%;margin-left: 1.2%;margin-right: 1.2%;}
.grid_11 .grid_1{width:6.09090909091%;margin-left: 1.09090909091%;margin-right: 1.09090909091%;}
.grid_11 .grid_2{width:15.1818181818%;margin-left: 1.09090909091%;margin-right: 1.09090909091%;}
.grid_11 .grid_3{width:24.2727272727%;margin-left: 1.09090909091%;margin-right: 1.09090909091%;}
.grid_11 .grid_4{width:33.3636363636%;margin-left: 1.09090909091%;margin-right: 1.09090909091%;}
.grid_11 .grid_5{width:42.4545454545%;margin-left: 1.09090909091%;margin-right: 1.09090909091%;}
.grid_11 .grid_6{width:51.5454545455%;margin-left: 1.09090909091%;margin-right: 1.09090909091%;}
.grid_11 .grid_7{width:60.6363636364%;margin-left: 1.09090909091%;margin-right: 1.09090909091%;}
.grid_11 .grid_8{width:69.7272727273%;margin-left: 1.09090909091%;margin-right: 1.09090909091%;}
.grid_11 .grid_9{width:78.8181818182%;margin-left: 1.09090909091%;margin-right: 1.09090909091%;}
.grid_11 .grid_10{width:87.9090909091%;margin-left: 1.09090909091%;margin-right: 1.09090909091%;}
.grid_11 .grid_11{width:97.0%;margin-left: 1.09090909091%;margin-right: 1.09090909091%;}
.container_11 .prefix_1 {padding-left:9.09091%;}
.container_11 .prefix_2 {padding-left:18.18182%;}
.container_11 .prefix_3 {padding-left:27.27273%;}
.container_11 .prefix_4 {padding-left:36.36364%;}
.container_11 .prefix_5 {padding-left:45.45455%;}
.container_11 .prefix_6 {padding-left:54.54546%;}
.container_11 .prefix_7 {padding-left:63.63637%;}
.container_11 .prefix_8 {padding-left:72.72728%;}
.container_11 .prefix_9 {padding-left:81.81819%;}
.container_11 .prefix_10 {padding-left:90.9091%;}
.container_11 .prefix_11 {padding-left:100.00001%;}
.container_11 .suffix_1 {padding-right:9.09091%;}
.container_11 .suffix_2 {padding-right:18.18182%;}
.container_11 .suffix_3 {padding-right:27.27273%;}
.container_11 .suffix_4 {padding-right:36.36364%;}
.container_11 .suffix_5 {padding-right:45.45455%;}
.container_11 .suffix_6 {padding-right:54.54546%;}
.container_11 .suffix_7 {padding-right:63.63637%;}
.container_11 .suffix_8 {padding-right:72.72728%;}
.container_11 .suffix_9 {padding-right:81.81819%;}
.container_11 .suffix_10 {padding-right:90.9091%;}
.container_11 .suffix_11 {padding-right:100.00001%;}
.container_11 .push_1 {left:9.09091%;}
.container_11 .push_2 {left:18.18182%;}
.container_11 .push_3 {left:27.27273%;}
.container_11 .push_4 {left:36.36364%;}
.container_11 .push_5 {left:45.45455%;}
.container_11 .push_6 {left:54.54546%;}
.container_11 .push_7 {left:63.63637%;}
.container_11 .push_8 {left:72.72728%;}
.container_11 .push_9 {left:81.81819%;}
.container_11 .push_10 {left:90.9091%;}
.container_11 .push_11 {left:100.00001%;}
.container_11 .pull_1 {right:9.09091%;}
.container_11 .pull_2 {right:18.18182%;}
.container_11 .pull_3 {right:27.27273%;}
.container_11 .pull_4 {right:36.36364%;}
.container_11 .pull_5 {right:45.45455%;}
.container_11 .pull_6 {right:54.54546%;}
.container_11 .pull_7 {right:63.63637%;}
.container_11 .pull_8 {right:72.72728%;}
.container_11 .pull_9 {right:81.81819%;}
.container_11 .pull_10 {right:90.9091%;}
.container_11 .pull_11 {right:100.00001%;}
.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}
.clearfix:after {clear: both;content: ' ';display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0;}
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* Global stuff
-------------------------------------------------------------- */

html {font-size:0.675em;}

body {
 padding:0;
 font-size:1.15em;
 line-height:1.5em;
 font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", "Tahoma", sans-serif;
 background-image:url("../img/bg_body.gif");
}

a { text-decoration:none; color:#11719B; }
a:hover { text-decoration:underline; }


#headerbr {
background:url("../img/bgDivHeaderBrasil.gif") repeat-x scroll 0 0 transparent;
padding-bottom:4px;
height:35px;
/* retirar quando voltar esta barra */
margin-top:25px;
}

#headerbr .mclogo {
background:url("../img/imgDivHeaderBrasil.jpg") no-repeat scroll 0 0 transparent;
display:inline;
float:left;
margin:0;
padding:0;
width:700px;
padding-left:44px;
}

#headerbr .brasillogo {
background:url("../img/imgBrasilPais.gif") no-repeat scroll 0 0 transparent;
height:35px;
width:120px;
float:right;
}

/* #header
_________________________*/


#header {
background:#fff url(../img/bg_top.gif) no-repeat 100% 0;
padding-top:23px;
height:104px;
clear:both;
margin-top:25px;
}

#top_right { text-align:right; float:right; padding-right:12px; padding-top:15px;}
#subnav { color:#999;}
#subnav a { color:#369 !important;}
#logo {float:left; padding-left:13px;}

/* Search form and all search related styles
-------------------------------------------------------------- */

form#search-form { margin:.5em 0 .7em;}
form#search-form label { display:none !important; }
form#search-form fieldset{border:none;}
form#search-form select{width:100px !important;}
form#search-form input#search-terms{
	background:#fff url('../img/bg/bg_search.png') 4px 3px no-repeat;
    width:140px;
    padding-left:25px; }

/* Top menu and its links
-------------------------------------------------------------- */

#navigation { background: #1F9ED7; height:24px; padding-top:6px; margin-top:5px; }
#navigation .menu {	margin-left: auto; margin-right: auto; width: 990px; }
#navigation li {float:left; }
#navigation a {color:#EDF7FC; padding:2px 12px; }
#navigation a:hover {color:#1F9ED7; background:#fff; text-decoration:none; border-radius:100%; -moz-border-radius:100%; -webkit-border-radius:100%; }
#navigation .current_page_item a { color: #7FC8E8; }
#navigation .current_page_item a:hover {background:none; color: #7FC8E8;}
#navigation .nav{float:right;}
#navigation .bpNav{float:left;}

#navigation li.dropdown a{
	background:url('../img/bg/bg_dropdown.jpg') right 10px no-repeat;
	padding-right:13px;
}

#navigation li:hover > a
, #navigation ul.bpNav li:hover a{
	color:#000;
}

#navigation li ul{
    -moz-box-shadow:2px 2px 10px #ccc;
	background-color:#fff;
	border:1px solid #D9D9D9;
	display:none;
	left:-6px;
	list-style:none;
	padding:4px;
	position:absolute;
	text-align:left;
	top:22px;
	width:170px;
	z-index:50;
}

#navigation ul.nav li:hover ul,
#navigation ul.nav li.hover ul{
	display:block;
}

#navigation ul.nav li ul li{
	border:none;
	border-bottom:1px solid #EAEAEA;
	display:block;
	float:none;
	margin:0;
    padding-right:0;
}

#navigation ul.nav li ul li a{
	background:transparent !important;
	color:#555 !important;
	display:block;
	float:none;
	padding:7px 5px;
}

#navigation ul.nav li ul li.hover a
, #navigation ul.nav li ul li:hover a{
	color:#000 !important;
	text-decoration:underline;
}

#navigation ul.nav li ul li.current_page_item a
, #navigation ul.nav li ul li.current-menu-item a{
  	background:#03374F !important;
	color:#fff !important;
}

#container_nav {width:96%; margin:0 auto;}


/* The main content and its columns
-------------------------------------------------------------- */

#mainContent {margin-top:2em;}
#content{ background:white;margin-left:0;margin-right:0;padding:1em 1% 2em 1%;margin-bottom:3em; }
#content p,
#content ul,
#content h1,
#content h2 { margin-bottom:1em;}
#content h1 { margin-top:.5em; color: #0091D2; font-size:2em}
#content h2 { font-size:1.4em !important; color:#0091D2 !important; margin-bottom:.6em !important; }
#content h3 { font-size: 1.1em; color:#38464C; margin-bottom:.6em; }
#content ul { list-style: inside url("../img/bullet.gif"); /* line-height:2em; */ }
.date, .time-since, .view, .item-button {color: #999; font-size:.8em;}	
#content li {list-style:none none}
.alignleft, .align-right {clear:both; float:left; margin:.2em 1em 0 0; display:block;}
.alignleft .wp-caption-text, .align-right .wp-caption-text {text-align:left;}
.alignright, .align-left  {clear:both; float:right; margin:.2em 0 0 1em; display:block;}
.alignright .wp-caption-text, .align-left .wp-caption-text {text-align:right;}
.aligncenter, .align-center {text-align:center; margin:1em 0; display:block; clear:both; margin-left:auto; margin-right:auto;}
.aligncenter .wp-caption-text, .align-center .wp-caption-text {text-align:left;}
.aligncenter img,
.alignright img,
.alignleft img,
.align-center img,
.align-right img,
.align-left img {background:url("../img/bg_body.gif") repeat-x 0 100%; padding:5px 0;}
.wp-caption-text { color:#666; font-size:.85em; padding-left:5px;}
.align-left {clear:right;}

div.tabs
, div.single div#item-nav
, div.single div#item-body{
    /* -moz-box-shadow:0px 0px 11px #EFEFEF; */
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
    /* -webkit-box-shadow:1px 1px 2px #EFEFEF; */
	border:1px solid #eee;
    /* box-shadow:1px 1px 2px #EFEFEF; */
    margin-bottom:20px;
	padding:.1em;
}

div.single div#item-nav{
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-left:0;
	-webkit-border-bottom-right:0;
	border-bottom:none;
	margin:10px 0 0;
}

div.single div#item-body{
	-moz-border-radius-topleft:0;
	-webkit-border-top-left-radius:0;
	-moz-border-radius-topright:0;
	-webkit-border-top-right-radius:0;
	border-top:none;
	margin-bottom:10px;
	padding:1em 1em 9px;
}

div.single div#item-body div.item-list-tabs{margin:0;}
div.single div#item-nav div.item-list-tabs ul{line-height:100%;}
div.tabs div.widget{clear:both;overflow:hidden;padding:9px 10px;}
div.tabs div.widget h2.widgettitle{display:none;}

/* start clearfix */
ul.tabs:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

ul.tabs{
	display:inline-block;
}

/* required comment for clearfix to work in Opera \*/
* html ul.tabs{
	height:1%;
}

ul.tabs{
	display:block;
}
/* end clearfix */

div.tabs ul.tabs
, div.main div.single div#item-nav div#object-nav{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#f2f2f2;
	display:block;
	list-style:none;
	margin:0;
	padding:.2em .2em 0;
	line-height:1em;
}

div.tabs ul.tabs li
, div.single div#item-nav div#object-nav li{
	-moz-border-radius-topleft:4px;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border:1px solid #ece9e9;
	background:#1F9ED7;
	display:inline;
	float:left;
	margin:3px 0.2em -1px 0;
	outline:none;
	padding:0;
	padding-bottom:1px;
}

div.tabs ul.tabs li a
, div.single div#item-nav div#object-nav li a{
	color:#FFFFFF;
	display:inline;
	float:left;
	font-weight:bold;
	font-size:11px;
	margin:0;
	text-decoration:none;
	padding:.5em 1em;
}

div.tabs div.ui-tabs-hide{
	display:none;
}

div.tabs ul.tabs li.ui-tabs-selected
, div.tabs ul.tabs li.ui-tabs-current
, div.main div.single div#item-nav div#object-nav ul li.selected
, div.main div.single div#item-nav div#object-nav ul li.current{
	border:1px solid #ece9e9;
	background:#03374F;
	color:#FFFFFF;
	cursor:default;
	margin-top:1px;
}

div.tabs ul.tabs li a:hover,
div.single div#item-nav div#object-nav li a:hover{ text-decoration:underline;}

div.tabs ul.tabs li.ui-tabs-selected a
, div.tabs ul.tabs li.ui-tabs-current a
, div.single div#item-nav div#object-nav ul li.selected a
, div.single div#item-nav div#object-nav ul li.current a{
	font-size:12px;
	padding:.5em 1em;
	text-decoration:none;
}

/* div.left-column-wrap
, div.center-column-wrap{
	display:inline;
    float:left;
    width:49.99%;
	padding:0;
}
 */
 
div.center-column div.widget
, div.left-column div.widget{
   /*  height:285px; */
    overflow:auto;
}

.home-page .main .grid_4 {width:48%;}
.home-page .main .grid_8 {width:99%;}

div.left-center-column
, div.left-bottom-column{
    clear:left;
}

div.sidebar div.right-column-3{
    margin-bottom:40px;
}

/* Sidebar and its widgets
-------------------------------------------------------------- */
.sidebar h2 { color: #38464C; font-size:1.2em; margin-bottom:.5em }
.sidebar ul { list-style:none; }
.sidebar ul.menu {margin-bottom:2em}
.sidebar ul.menu li { border-bottom: 3px solid white; line-height:3em; font-weight:bold; padding-left:30px; }
.sidebar ul.menu li a {display:block;}
.sidebar ul, #sidebar li {list-style:none none;}
.sidebar ul.blogroll li {margin-bottom:2em;}
.sidebar ul.blogroll a {background:white; display:block; text-align:center; padding:1em .5em;}
.sidebar .widget {background:#fff;}
.sidebar div.tabs {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: .2em;
	border:3px solid #fff;    
    margin-bottom:20px;
}


/* Footer
-------------------------------------------------------------- */

#footer {
background-color:#0089BF;
clear:both;
font-size:0.85em;
padding:.8em 0 .2em;
}

#footer, #footer a { color:#FFFFFF;}
#footer a { text-decoration:underline; }

/* Typography
_________________________*/


body a:visited{
	color:#277CA5;
}

/* Buttons
_________________________*/


input.active{
    color:#000;
}

/** Botões */

.submitDefault
, #blogs_search_submit
, #members_search_submit
, #groups_search_submit
, #forums_search_submit
, #commentSubmit
, #cancel-comment-reply-link
, #submit {
display: inline;
outline: none;
padding:5px 1em 2px;
font-weight:bold;
margin-bottom:.6em;
	
/* quando A */
cursor: pointer;
text-align: center;
text-decoration: none;
text-shadow: 0 1px 1px rgba(255,255,255,.3);
	
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
color: #fff;
border: solid 1px #3486B0;
background: #1F4461;
background: -webkit-gradient(linear, left top, left bottom, from(#3A9AC8), to(#1F4461));
background: -moz-linear-gradient(top, #3A9AC8, #1F4461);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A9AC8', endColorstr='#1F4461');
}

.submitDefault:hover
, #blogs_search_submit:hover
, #members_search_submit:hover
, #groups_search_submit:hover
, #forums_search_submit:hover
, #commentSubmit:hover
, #cancel-comment-reply-link:hover
, #submit:hover {
text-decoration: none;
background: #11719C;
background: -webkit-gradient(linear, left top, left bottom, from(#7FC8E8), to(#11719C));
background: -moz-linear-gradient(top,  #7FC8E8,  #11719C);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7FC8E8', endColorstr='#11719C');
border: solid 1px #3A9AC8;
}

.submitDefault:active
, #blogs_search_submit:active
, #members_search_submit:active
, #groups_search_submit:active
, #forums_search_submit:active
, #commentSubmit:active
, #cancel-comment-reply-link:active
, #submit:active {
position: relative;
top: 1px;
color: #111;
background: #ECF4D5;
background: -webkit-gradient(linear, left top, left bottom, from(#3A9AC8), to(#7FC8E8));
background: -moz-linear-gradient(top,  #3A9AC8,  #7FC8E8);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3A9AC8', endColorstr='#7FC8E8');
border: solid 1px #3A9AC8;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

/* Forms
-------------------------------------------------------------- */

input,
textarea,
select,
form#whats-new-form #whats-new-textarea {
background:#F5f5f5 url(../img/bg_searchbox.png) repeat-x;
border:1px solid #B0CEDB;
padding:7px 0 3px 5px;
border-radius:3px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
font-size:.95em
}

input:hover,
textarea:hover,
select:hover {
-webkit-box-shadow:0 0 3px #CBCFD0;
-moz-box-shadow: 0 0 3px #CBCFD0; 
box-shadow:0 0 3px #CBCFD0;
}

select { padding:normal; padding:6px 0 2px 5px;}

/* > Style.css 
____________________________________*/

.post-tags{
	font-style:italic;
	line-height:22px;
	padding-left:20px;
}

/* > Buddypress admin bar
____________________________________*/

#wp-admin-bar{
	position:absolute;
	top:0;
	left:0;
	z-index:99;
	height:25px;
	font-size:11px;
	width:100%;
	z-index:1000;
}

#wp-admin-bar .padder{
	position:relative;
	padding:0;
	width:100%;
	margin:0 auto;
    max-width:none;
    min-width:960px;
	background:url('../img/bg/bg_60pc_black.png') repeat;
	height:25px;
}

#wp-admin-bar .middle{
	position:relative;
}

#wp-admin-bar .middle h3{
	display:inline;
	color:#fff;
	float:left;
	font-size:1.1em;
	margin:5px;
}

#wp-admin-bar *{
	z-index:999;
}

#wp-admin-bar div#admin-bar-logo{
	position:absolute;
	top:5px;
	left:10px;
}

#wp-admin-bar a img{
	border:none;
}

#wp-admin-bar li{
	list-style:none;
	margin:0;
	padding:0;
	line-height:100%;
	text-align:left;
}

#wp-admin-bar li a{
	padding:7px 15px 7px 15px;
	color:#eee;
	text-decoration:none;
	font-size:11px;
}

#wp-admin-bar li.alt{
	border:none;
}

#wp-admin-bar li.no-arrow a{
	padding-right:15px;
}

#wp-admin-bar ul li ul li a span{
	display:none;
}

#wp-admin-bar li:hover, #wp-admin-bar li.hover{
	position:static;
}

#admin-bar-logo{
	float:left;
	font-weight:bold;
	font-size:11px;
	padding:5px 8px;
	margin:0;
	text-decoration:none;
	color:#fff;
}

body#bp-default #admin-bar-logo{
	padding:2px 8px;
}

#wp-admin-bar ul{ /* all lists */
	margin:0;
	list-style:none;
	line-height:1;
	cursor:pointer;
	height:auto;
	padding:0;
}

#wp-admin-bar ul li{ /* all list items */
	padding:0;
	float:left;
	position:relative;
	background:url('../img/bg/bg_admin-menu-arrow.gif') 88% 53% no-repeat;
	padding-right:11px;
}

#wp-admin-bar ul li.no-arrow{
	background:none;
	padding-right:0;
}

#wp-admin-bar ul li ul li{
	background-image:none;
}

#wp-admin-bar ul li.align-right{
	position:absolute;
	right:0;
}

#wp-admin-bar ul li a{
	display:block;
}

#wp-admin-bar ul.main-nav li:hover
, #wp-admin-bar ul.main-nav li.sfhover
, #wp-admin-bar ul.main-nav li ul li.sfhover{
	background-color: #333;
}

#wp-admin-bar ul li ul{
	position:absolute;
	width:185px;
	left:-999em;
	margin-left:0;
	background:#333;
	border:1px solid #222;
	-moz-box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius-topleft:0;
	-webkit-border-top-left-radius:0;
	-moz-border-radius-topright:0;
	-webkit-border-top-right-radius:0;
}

#wp-admin-bar ul li > ul{
	border-top:none;
}

#wp-admin-bar ul li ul a{
	color:#eee;
}

#wp-admin-bar ul li ul li{
	float:left;
	width:174px;
	margin:0;
	position:relative !important;
}

#wp-admin-bar ul li ul li:hover a{
	color:#fff;
}

#wp-admin-bar ul li div.admin-bar-clear{
	clear:both;
}

#wp-admin-bar ul.main-nav li ul li:hover
, #wp-admin-bar ul.main-nav li ul li.sfhover
, #wp-admin-bar ul.main-nav li ul li.sfhover{
	background-color:#222;
}

#wp-admin-bar ul li ul ul{
	margin:-25px 0 0 184px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

#wp-admin-bar ul li ul li:hover ul li a{
	color:#eee;
}

#wp-admin-bar ul li ul li ul li:hover a{
	color:#fff;
}

#wp-admin-bar ul li:hover ul
, #wp-admin-bar ul li ul li:hover ul
, #wp-admin-bar ul li.sfhover ul
, #wp-admin-bar ul li ul li.sfhover ul{
	left:auto;
}

#wp-admin-bar ul li.align-right:hover ul{
	right:0;
}

#wp-admin-bar ul li:hover ul ul
, #wp-admin-bar li.sfhover ul li ul{
	left:-999em;
}

#wp-admin-bar img.avatar{
	float:left;
	margin-right:8px;
}

#wp-admin-bar span.activity{
	display:block;
	margin-left:34px;
	padding:0;
}

#wp-admin-bar ul.author-list li a{
	height:17px;
}

#wp-admin-bar ul li#bp-adminbar-notifications-menu a span{
	padding:0 6px;
	margin-left:2px;
	background:#fff;
	color:#000;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

#wp-admin-bar ul li.color a span{
    display:block;
    height:12px;
    width:24px;
    position:absolute;
    right:10px;
    top:7px;
}

#wp-admin-bar ul li.color a#contrast span{
    background:url("../img/bg/bg_contrast.png") no-repeat;
}

#wp-admin-bar ul li.color a#contrast1 span{
    background:url("../img/bg/bg_contrast.png") 0 -24px no-repeat;
}

#wp-admin-bar ul li.color a#contrast2 span{
    background:url("../img/bg/bg_contrast.png") 0 -12px no-repeat;
}

#wp-admin-bar ul li.color a#contrast3 span{
    background:url("../img/bg/bg_contrast.png") 0 -36px no-repeat;
}


/* Widgets.css 
* 
*  Author: Marcos Maia Lopes
*  Author e-mail: marcos@creativemarkup.com.br
*
_____________________________________________*/

/* > Widget Destaque
__________________________*/

div.widget_destaque div.hlTabs{
	background:none;
	border:0;
	padding:0;
    position:relative;
}
div.widget_destaque div.hlTabs div.panel{
    margin:0 10px;
}
div.widget_destaque div.hlTabs .bt_prev
, div.widget_destaque div.hlTabs .bt_next{
    background:url('../img/bt/bt_hl.png') no-repeat;
    display:block;
    height:19px;
    overflow:hidden;
    position:absolute;
    text-indent:-999em;
    top:63px;
    width:12px;
    z-index:10;
}
div.widget_destaque div.hlTabs .bt_prev{
    background-position:left top;
    left:0;
}
div.widget_destaque div.hlTabs .bt_next{
    background-position:right top;
    right:0;
}
div.widget_destaque div.hlTabs .bt_prev:hover{
    background-position:left bottom;
}
div.widget_destaque div.hlTabs .bt_next:hover{
    background-position:right bottom;
}
div.widget_destaque div.hlTabs ul{
	background:none;
	border:none;
    left:50%;
	margin:0;
    margin-left:-75px;
	padding:0;
    position:absolute;
    text-align:center;
    top:150px;
    width:150px;
}
div.widget_destaque div.hlTabs ul li{
	background:none;
	border:none;
    display:inline;
	list-style:none;
	margin:0;
}
div.widget_destaque div.hlTabs ul li a{
    color:#C5C5C5;
	font-size:2.3em;
	font-weight:bold;
	margin-right:5px;
	padding:0 2px 2px;
	text-decoration:none;
}
div.widget_destaque div.hlTabs ul li.ui-tabs-selected a
, div.widget_destaque div.hlTabs ul li.ui-state-hover a{
	color:#03374F;
}
div.widget_destaque div.hlTabs div.ui-tabs-panel{
	padding:0;
}
div.widget_destaque div.hlTabs .thumb{
    border:1px solid #ccc;
	clear:both;
	display:block;
	height:140px;
    margin:8px 15px 25px;
	overflow:hidden;
    padding:3px;
	text-align:center;
}
div.widget_destaque div.hlTabs .thumb img{
	border:none;
    width:304px;
}
div.widget_destaque div.hlTabs h2{
    font-size:100%;
}
div.widget_destaque div.hlTabs h2 a{
	display:block;
	font-size:1.8em;
    font-weight:normal;
	margin-bottom:10px;
	text-decoration:none;
}


/* > Widget Tags Cloud
__________________________*/

div.widget_tagcloud{
	text-align:justify;
}
div.widget_tagcloud a{
	color:#222;
    text-decoration:none;
    padding:0 3px;
}
div.widget_tagcloud a:hover{
    background-color:#0076a4;
    color:#fff;
}


/* > Widget RSS
__________________________*/

div.widget_rss li{
    border-top:3px solid #f8f8f8;
    list-style:none;
	/* font-size:1.2em; */
    margin-bottom:15px;
    padding-top:15px;
}
div.widget_rss li:first-child{
    border:none;
    padding-top:5px;
}
div.widget_rss .rsswidget{
    display:block;
    font-weight:bold;
    margin-bottom:5px;
    text-decoration:none;
}
div.widget_rss .rsswidget:hover{
    text-decoration:underline;
}
div.widget_rss span.rss-date{
    color:#ABABAB;
    display:block;
    font-size:1.1em;
    margin-bottom:5px;
    text-transform:capitalize
}
div.widget_rss cite{
    color:black;
    display:block;
    margin-top:5px;
    text-align:right;
}


/* > Widget Recent comments
__________________________*/

div.widget_recentComments img{
	border:1px solid #ccc;
	display:inline;
	float:left;
	height:50px;
	margin-right:7px;
	overflow:hidden;
	padding:2px;
	text-indent:-999em;
	width:50px;
}
div.widget_recentComments li{
	border-top:1px solid #ccc;
	list-style:none;
	padding:7px 5px;
}
div.widget_recentComments li:first-child{
	border:none;
}
div.widget_recentComments li p a{
	color:#0f6aa3;
}
div.widget_recentComments li p a:hover{
	text-decoration:none;
}
div.widget_recentComments li p.comment_content{
	margin-top:3px;
}


/* > Widget LabBlog
__________________________*/

div.widget_customPosts ul{
	overflow:hidden;
}
div.widget_customPosts li{
	border-bottom:1px solid #D8D8D8;
	font-size:1.2em;
	list-style:none;
	padding:5px 0;
}
div.widget_customPosts li:first-child{
	padding-top:0;
}
div.widget_customPosts li:last-child{
	border:none;
}
div.widget_customPosts li .thumb{
	border:1px solid #CCCCCC;
	display:inline;
	float:left;
	margin-right:10px;
	padding:2px;
}
div.widget_customPosts li .thumb img{
	border:none;
	display:block;
	height:50px;
	overflow:hidden;
	width:50px;
}
div.widget_customPosts h2{
	font-size:100%;
	margin-top:5px;
}
div.widget_customPosts h2 a{
	font-size:1.1em;
	font-weight:bold;
	text-decoration:none;
}
div.widget_customPosts h2 a:hover{
	text-decoration:underline;
}


/* > Widget Membros & Grupos
__________________________*/

div.widget_bp_groups_widget
, div.widget_bp_core_members_widget
, div.widget_bp_groups_widget{
    height:136px;
}
div.widget_bp_groups_widget div.item-options
, div.widget_bp_core_members_widget div.item-options{
	border-bottom:1px solid #ccc;
	font-size:1.2em;
    margin:-4px 0 3px;
	padding:0 0 3px;
    text-align:right;
}
div.widget_bp_groups_widget div.item-options a
, div.widget_bp_core_members_widget div.item-options a{
	text-decoration:none;
}
div.widget_bp_groups_widget div.item-options a.selected
, div.widget_bp_core_members_widget div.item-options a.selected{
    font-weight:bold;
}
div.widget_bp_groups_widget ul.item-list
, div.widget_bp_core_members_widget ul.item-list{
	display:inline;
	float:left;
	margin:0;
}
div.widget_bp_groups_widget ul.item-list li
, div.widget_bp_core_members_widget ul.item-list li{
	background:transparent;
	border:none;
	display:inline;
	float:left;
	padding:3px;
}
div.widget_bp_groups_widget ul.item-list div.item
, div.widget_bp_core_members_widget ul.item-list div.item{
	display:none;
}

div.widget_bp_groups_widget ul.item-list a img
, div.widget_bp_core_members_widget ul.item-list a img{
	border:1px solid #ccc;
	display:block;
	height:50px;
	padding:2px;
	width:50px;
}


/* > Widget Atividades
__________________________*/

div.widget_activity{
	position:relative;
}
div.widget_activity form #aw-whats-new-submit{
	float:none;
}
div.widget_activity img
, .activity div.main img{
	border:1px solid #CCCCCC;
	display:block;
	height:60px;
	margin-left:5px;
	overflow:hidden;
	padding:2px;
	text-indent:-999em;
	width:60px;
}
div.widget_activity img.align-left{
	margin-left:0;
}
div.main form#whats-new-form h5{
    margin-bottom:5px;
}
div.main form#whats-new-form textarea{
    height:48px;
}
div.main form#whats-new-form select#whats-new-post-in option{
    padding:0 5px;
}
div.main .feed{
    background:url("../img/bg/bg_rss.png") left center no-repeat;
    color:#727272;
    display:block;
    height:16px;
    margin-top:4.5px;
    padding-left:19px;
	position:absolute;
	top:10px;
	right:10px;
}
div.main ul.activity-list li img.avatar{
    height:48px;
    width:48px;
}
div.main div.activity-content{
	margin:0 10px 0 70px;
}
div.main div.activity-content div.activity-header a
, div.main div.acomment-meta a{
    font-weight:bold;
}
span.time-since{
    color:#999;
}
.delete-activity
, .acomment-delete
, .delete
, .view
, .acomment-reply{
	color:#0E5F86;
    font-weight:normal !important;
}
div.main div.activity-comments > ul
, div.main div.activity-inner{
	margin-top:10px;
}
div.main div.widget_activity div.activity-inner{
	font-size:1.2em;
}
div.main div.activity-inner div.activity-inner{
	background:0;
	border:0;
	color:#444;
	margin:0;
	padding:0;
}
div.widget_activity a
, .activity div.main a{
    text-decoration:none;
}
div.widget_activity a:hover
, .activity div.main a:hover{
    text-decoration:underline;
}
div.widget_activity ul.activity-list li
, .activity div.main ul.activity-list li
, .groups div.main ul.activity-list li{
	background:#fff;
	border-top:none !important;
	border-bottom:3px solid #f8f8f8;
    padding:12px 0;
	position:relative;
}
div.widget_activity ul.activity-list li.read-more{
	border:medium none;
	font-size:1.2em;
	padding:10px 0 0;
	text-align:right;
}
div.widget_activity div.activity-header
, .activity ul.activity-list div.activity-header{
	margin-right:75px;
}
div.widget_activity div.activity-meta
, .activity ul.activity-list div.activity-meta{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:none repeat scroll 0 0 #EEEEEE;
	border-radius:4px;
	display:none;
	padding:5px;
	position:absolute;
	right:0;
	top:5px;
}
.fav
, .unfav{
    background:url("../img/bt/bt_fav.png") left center no-repeat;
	display:inline;
	float:left;
    height:16px;
	margin-right:5px;
    overflow:hidden;
    text-indent:-999em;
    width:16px;
}
.acomment-reply{
	display:inline;
	float:right;
	margin-top:2px;
}
div.main ul.activity-list li:hover div.activity-meta{
	display:block;
}
.fav.loading
, .unfav.loading{
    padding:0;
}
.unfav{
    background-position:right center;
}
div.main div.activity-comments{
	margin:0;
}
div.main div.activity-comments ul{
	background:url('../img/bg/bg_activityCommentReply.png') 23px 0 no-repeat;
	clear:both;
	margin:3px;
	padding-left:36px;
}
div.main div.activity-comments div.acomment-avatar
, div.main div.activity-comments div.acomment-meta{
	display:inline;
	float:left;
}
div.main div.activity-comments div.acomment-meta{
	display:block;
	float:none;
	margin-left:70px;
}
div.main div.activity-comments div.acomment-content{
	margin-top:5px;
	margin-left:70px;
}
div.main div.activity-comments span.acomment-replylink a
, div.main div.activity-comments ul.has-comments a{
	display:inline !important;
	position:static;
}
div.main div.activity-comments li{
	background-color:transparent !important;
	margin:10px 0;
	padding:8px;
}
div.main div.activity-comments form div.ac-textarea{
	background:#fff;
}
div.main div.activity-comments form div.ac-reply-content{
    margin-left:70px;
}
div.main .ac-reply-content .submitDefault{
    float:none;
    margin-left:0;
}
div.main div.activity-comments form .ac-textarea{
    margin-bottom:0;
}
#message p{
	margin-top:10px;
}


/* > Widget Blogs
__________________________*/

div.widget_blogs div.item-list-tabs{
	margin:0 0 10px;
	padding:0 0 5px;
}
div.widget_blogs div.item-list-tabs li.menulist{
    margin:0;
}
div.widget_blogs div.item-list-tabs li.menulist a{
    margin:0 7px 0 4px;
	text-decoration:none;
}
div.widget_blogs div.item-list-tabs li.menulist a:hover{
	font-weight:bold;
}
div.widget_blogs div.item-list-tabs li.selected a{
    font-weight:bold;
}
div.widget_blogs div.blogs ul.item-list li{
	height:57px;
	padding:10px;
	position:relative;
	border-bottom:3px solid #f8f8f8;
}

div.widget_blogs div.blogs ul.item-list li a img{
	border:1px solid #ccc;
	display:block;
	height:50px;
	overflow:hidden;
	padding:2px;
	text-indent:-999em;
	width:50px;
}
div.widget_blogs div.blogs ul.item-list div.item-title
, body.blogs #content div.main div.item-title{
	margin-right:5px;
}
div.widget_blogs div.blogs ul.item-list div.item-title a
, body.blogs #content div.main div.item-title a{
	font-size:1.2em;
	font-weight:bold;
	text-decoration:none;
}
div.widget_blogs div.blogs ul.item-list div.meta
, body.blogs #content div.main div.meta{
	color:#646464;
	font-weight:bold;
}
div.widget_blogs div.blogs ul.item-list div.meta a
, body.blogs #content div.main div.meta a{
	font-weight:normal;
}
div.widget_blogs div.blogs ul.item-list div.item
, body.blogs #content div.main div.item{
	margin-bottom:5px;
}
div.widget_blogs div.blogs ul.item-list li div.action
, body.blogs #content div.main div.action{
	position:static;
	text-align:left;
	margin-left:65px;
}
div.widget_blogs div.blogs ul.item-list li div.action div.visit
, body.blogs #content div.main div.action div.visit{
	display:none;
}


/* Widget login & Register
__________________________*/

div.widget_login
, div.widget_register{
	padding:10px;
}
div.widget_login fieldset
, div.widget_register fieldset{
	border:none;
	margin:0 10px;
	position:relative;
}
div.widget_login label.login{
	background:url('../img/bg/bg_login.png') -5px 3px no-repeat;
	display:inline;
	float:left;
	height:52px;
	margin-top:6px;
	overflow:hidden;
	text-indent:-999em;
	width:38px;
}
div.widget_login div.inputDefault
, div.widget_register div.inputDefault{
	display:block;
	float:none;
	margin-left:58px;
	margin-bottom:6px;
}
div.widget_login div.inputDefault input
, div.widget_register div.inputDefault input{
	border:none;
	width:100%;
}
div.widget_login div.pw{
	margin-right:62px;
}
div.widget_login button.submitDefault
, div.widget_register button.submitDefault{
	position:absolute;
	top:30px;
	right:0;
	width:57px;
}
div.widget_login button.loading{
	background-position:center;
	text-indent:-999em;
}
div.widget_login div.forever{
	margin-left:58px;
	color:#535353;
	text-align:right;
}
div.widget_login div.forever label{
	float:left;
}
div.widget_login div.forever input{
	display:inline;
	border-color:#767676;
	float:left;
	margin-right:5px;
}
div.widget_login div.forever a,
div.widget_login div.forever label{
	font-size:0.85em;
}
div.widget_login div.forever a:hover{
	text-decoration:none;
}
div.widget_login div.panel img{
	border:1px solid #ccc;
	display:inline;
	float:left;
	margin-right:10px;
	height:50px;
	padding:2px;
	width:50px;
}
div.widget_login div.panel h3{
	color:#3c3c3c;
	float:left;
	font-weight:normal;
}
div.widget_login div.panel div.linksAdmin{
	display:inline;
	float:right;
	margin-bottom:15px;
}
div.widget_login div.panel div.linksAdmin a{
	color:#006389;
}
div.widget_login div.panel div.linksAdmin a:hover{
	text-decoration:none;
}
div.widget_login div.panel div.linksAdmin strong a{
	color:#3c3c3c;
}
div.widget_login div.panel div.msg{
	background:#f7f1bc;
	border:1px solid #ccc972;
	clear:right;
	margin-left:66px;
	padding:3px 10px;
	text-align:center;
}


/* Widget Register
__________________________*/
div.widget_register form#registerform label{
	display:inline;
	float:left;
	margin-right:5px;
	margin-top:4px;
	text-align:right;
	width:115px;
}
div.widget_register form#registerform div.inputDefault{
	float:none;
	margin-left:120px;
	margin-right:0;
}
div.widget_register form#registerform button.submitDefault{
	position:static;
	margin:0;
	float:right;
	width:auto;
}
div.widget_register form#registerform select{
	height:22px;
	margin-bottom:15px;
}


/* Widget Map
__________________________*/

div.widget_map h2{
	color:#666;
}
div.widget_map iframe{
	height:200px;
	margin:15px 0;
	width:100%;
}
div.widget_map a{
	display:inline;
	float:right;
	height:auto;
	margin:0;
	padding:5px;
	text-decoration:none;
}

/* Widget twitter
_______________________________*/

div.widget_tweetblender{
	line-height:130%;
	font-size:1.2em;
}
div.widget_tweetblender div.tweetblendert{
	border-bottom:1px solid #D8D8D8;
}
div.widget_tweetblender div.tb_tweet{
	border-top:1px solid #D8D8D8;
	padding:15px 0;
}
div.widget_tweetblender div.tb_tweetlist{
	border-bottom:1px solid #D8D8D8;
	margin-bottom:7px;
}
div.widget_tweetblender div.tb_footer{
	font-size:1.2em;
	margin:0;
	overflow:hidden;
}
div.widget_tweetblender div.tb_footer a{
	text-decoration:none;
}
div.widget_tweetblender div.tb_footer a:hover{
	text-decoration:underline;
}


/* > Buddypress defaults
_______________________________*/

div.main div.activity-type-tabs{
    margin:0;
    padding:0 0 5px;
}
div.main ul.activity-type-tabs li
, div.main div.item-list-tabs li{
    margin:0;
}
div.main ul.activity-type-tabs li a
, div.main div.item-list-tabs li a{
    color:#222222;
    margin:0 5px;
    text-decoration:none;
}
div.main ul.activity-type-tabs li:first-child a
, div.main div.item-list-tabs li:first-child a{
    margin-left:0;
}
div.main ul.activity-type-tabs li.selected a
, div.main div.item-list-tabs li.selected a
, div.main a.selected{
    font-weight:bold;
}
.activity div.main div.marginRight20{
	position:relative;
}
.activity div.main .feed{
	top:46px !important;
	right:12px !important;
}
.activity.logged-in div.main .feed{
	top:175px !important;
	right:12px !important;
}
body #content div.widget_activity .feed{
	top:10px !important;
	right:10px !important;
}
.activity div.main ul.bp_options li{
	display:inline;
	float:right;
	list-style:none;
	margin-bottom:15px;
	margin-top:5px;
}

/***
 * Navigation tabs
 */
div.item-list-tabs {
	margin: 10px 0;
	padding: 5px 0;
	border-bottom:3px solid #ddd;
	overflow: hidden;
	clear: both;
	font-size:1em;
}

div.item-list-tabs ul {
	list-style: none;
	
	margin: 0;
	padding: 0;
	line-height: 200%;
}
	div.item-list-tabs ul li {
		float: left;
		margin-right: 8px;
	}
		div.item-list-tabs#subnav ul li a {
			border: none;
			padding: 0;
		}

	div.item-list-tabs ul li.last { float: right; }

/***
 * Object Lists (groups/members/forums/blogs)
 */

ul.item-list {
	margin: 20px 0;
	padding: 0;
	list-style: none;
}
	ul.item-list li { position: relative; }
	ul.item-list div.item-avatar {
		float: left;
	}

	ul.item-list div.item {
		margin-left: 65px;
	}

	ul.item-list div.action {
		position: absolute;
		top: 10px;
		right: 5px;
		text-align: right;
	}


/***
 * Content Object Headers
 */

div#item-header {
	padding-bottom: 15px;
	overflow: hidden;
}
	div#item-header div#item-header-avatar {
		float: left;
		margin-right: 15px;
	}

/***
 * Activity Stream Post Form
 */

form#whats-new-form {
	overflow: hidden;
	padding-bottom: 10px;
	margin-top:10px;
}
	form#whats-new-form #whats-new-avatar {
		float: left;
	}

	form#whats-new-form h5 {
		clear: none;
		margin-left: 76px;
	}

	form#whats-new-form #whats-new-content {
		margin-left: 54px;
		padding-left: 22px;
	}
	
	form#whats-new-form #whats-new-textarea {
		/* padding: 8px;
		border: 1px inset #ccc; */
		margin-bottom: 10px;
		border-right:1px solid #B0CEDB;
	}
	form#whats-new-form textarea {
		width: 100%;
		height: 60px;
		/* font-size: 12px; */
		font-family: inherit;
		color: #555;
		border: none;
		margin: 0;
		padding: 0;
		background:none;
		
	}
	
	form#whats-new-form #whats-new-content #whats-new-post-in-box{
		font-size:1.2em;
	}

	form#whats-new-form #whats-new-submit {
		float: right;
		margin: 0;
	}

/***
 * Activity Stream Post Form
 */

ul.activity-list {
	margin: 0;
	padding: 0;
}

ul.activity-list li {
	overflow: hidden;
	padding: 20px 0;
}
	ul.activity-list li img.avatar {
		float: left;
		width: 60px;
		height: 60px;
	}

	ul.activity-list li div.activity-content {
		margin-left: 75px;
	}

	ul.activity-list li div.activity-comments {
		margin: 15px 0 0 38px;
	}
		ul.activity-list li div.activity-comments ul li {
			padding: 5px 0;
		}

		ul.activity-list li div.activity-comments img.avatar {
			width: 25px;
			height: 25px;
		}

		ul.activity-list li div.acomment-content, ul.activity-list li div.acomment-meta {
			font-size:1.2em;
			margin-left: 35px;
		}
		
			ul.activity-list li div.acomment-content p, ul.activity-list li div.acomment-meta p{
				font-size:1em;
			}

	ul.activity-list li div.activity-inreplyto {
		margin: 15px 0 0 75px;
		font-size: 11px;
	}

/***
 * Input Forms
 */

/* Activity comment forms */

form.ac-form { display: none; } /* JS will show this */

div.activity-comments form {
	display: none;
	margin: 10px 0 10px 33px;
	padding: 8px;
}

	div.activity-comments div#message {
		margin-top: 15px;
		margin-bottom: 0;
	}

	div.activity-comments form.loading {
		background-image: url( ../images/ajax-loader.gif );
		background-position: 2% 95%;
		background-repeat: no-repeat;
	}

	div.activity-comments form .ac-textarea {
		padding: 8px;
		border: 1px inset #ccc;
		margin-bottom: 10px;
	}
		div.activity-comments form textarea {
			width: 100%;
			height: 60px;
			border: none;
			padding: 0;
		}
			div.activity-comments form input {
				margin-top: 5px;
			}

	div.activity-comments form div.ac-reply-avatar {
		float: left;
	}

	div.activity-comments form div.ac-reply-content {
		margin-left: 25px;
		padding-left: 15px;
	}

/* Standard Input Forms */

form.standard-form label, form.standard-form span.label {
	display: block;
	margin: 15px 0 5px 0;
}
	form.standard-form div.checkbox label,
	form.standard-form div.radio label {
		font-weight: normal;
		margin: 5px 0 0 0;
	}

	form.standard-form textarea {
		width: 75%;
		height: 120px;
	}

/* Send Invites Form */
form#send-invite-form {
	margin-top: 20px;
}
	div#invite-list {
		height: 400px;
		overflow: scroll;
		padding: 5px;
		width: 160px;
		margin: 10px 0;
	}

/* Directory search forms */

form.dir-form div.dir-search {
    display:inline;
	float: right;
	margin: 5px 0 15px 0;
	text-align:right;
}

/* Pagination */
div.pagination{
	position:relative;
}

div.pagination
, div.wp-pagenavi{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#F8F8F8;
	border:none;
	border-radius:4px;
	color:#888;
	/* font-size:1.1em; */
	height:26px;
	margin:0;
	padding:4px 1em;
	overflow:hidden;
	clear:both;
}
div.wp-pagenavi{
	padding:6px 0;
	text-align:right;
}
div.pagination div.pag-count{
	display:inline;
	float:left;
	margin-top:6px;
}
div.pagination div.pagination-links{
	float:right;
}

div.pagination div.pagination-links span
, div.wp-pagenavi span
, div.pagination div.pagination-links a
, div.wp-pagenavi a{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	background:#fff;
	border:1px solid #D9D9D9;
	border-radius:4px;
	display:inline;
	font-weight:bold;
	float:left;
	margin-right:5px;
	padding:3px 7px;
}

div.wp-pagenavi span
, div.wp-pagenavi a{
	display:inline;
	float:none;
}


div.pagination div.pagination-links a:hover
, div.wp-pagenavi a:hover{
	border-color:#000;
}

div.submit{
	padding-right:30px;
	text-align:right;
}

div.layoutControl{
	position:absolute;
	top:15px;
	width:120px;
}

div.layoutControl p{
	color:#666;
	font-size:1.1em;
}

div.layoutControl .one-column
, div.layoutControl .two-column{
	background:url('../img/bt/bt_layoutControl2.png') no-repeat;
	display:inline;
	float:right;
	height:18px;
	margin-right:3px;
	margin-top:-3px;
	overflow:hidden;
	text-indent:-999em;
	width:18px;
}

div.layoutControl .one-column{
	background-position:right center;
}

.posts-list div.layoutControl{
	left:15px;
}


/* > Plugins
____________________________________*/

#top-link{
    background:url('../img/bt/bt_backTop.png') no-repeat;
    bottom:5px;
    display:none;
    height:34px;
    position:fixed;
    right:5px;
    overflow:hidden;
    text-decoration:none;
    text-indent:-999em;
    width:38px;
}

input#captcha_code{
    border:1px solid #ccc;
    border-top:1px solid #666;
    color:#333;
    font-size:1.2em;
	margin:5px 0;
    height:17px;
    padding:3px 5px 2px;
}

#tooltip{
	position:absolute;
	z-index:3000;
	border:1px solid #111;
	background-color:#eee;
	padding:5px;
	opacity:0.85;
}

#tooltip h3
, #tooltip div{
	margin:0;
}

#captchaImgDiv{
	clear:left;
	margin-bottom:20px;
	width:355px;
}


/* > Classes
____________________________________*/

.displayNone{
    display:none !important;
}

.floatLeft{
	float:left;
}

span.activity{
	color:#999;
	font-size:.85em;
}


/* > Outros
__________________________*/

.loading{
    background:url("../img/bg/bg_loading.gif") right center no-repeat;
    padding-right:14px;
}
.error
, body.settings #content form#account-delete-form div#message
, form#group-settings-form div#message{
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
    background-color:#FFEBE8;
    border:1px solid #CC0000;
    color:#333;
    font-size:1.2em;
    margin-bottom:10px;
    padding:5px;
    text-align:center;
}
div#content div.widget_activity li.load-more
, div#content div.widget_activity li.ver-todos{
	background:#fff;
	border:none;
	height:22px;
	margin:0;
	margin-top:10px;
	padding:0;
}
.ver-todos a{
	color:#0E5F86 !important;
	display:block;
	font-size:1.4em !important;
	font-weight:bold;
	padding:2px 0 0;
	text-align:right;
}
.ver-todos a:hover{
	text-decoration:underline !important;
}
.load-more a{
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	background:#f6f6f6;
	border:1px solid #ccc;
	color:#666 !important;
	display:block;
	font-size:1.2em;
	height:13px;
	padding:2px 0 5px;
	text-align:center;
	text-decoration:none;
}
.load-more a:hover{
	border:1px solid #707070;
	text-decoration:none !important;
}
.load-more a:active
, .ver-todos a:active{
	outline:none;
}
.load-more a:focus
, .ver-todos a:focus{
	-moz-outline-style:none;
}
.load-more a.loading
, .load-more.loading a{
	background:url("../img/bg/bg_loading.gif") center no-repeat;
	border:none;
	text-indent:-999em;
}

/* Desquebrando layout do register */
.customField { clear:both; }

.messageAlertLoginWidgetRegister {
  color:red;
  font-size:10px;
  margin-bottom:1em;
  margin-left:1.5em;
}
.messageAlertLoginRegister {
  color:red;
  font-size:10px;
  margin-bottom:1em;
}

#conteudo {
	min-width:250px;
	max-width:1200px;
	overflow:auto;
}

#tabelaresultado {
	border:1px solid #e7e7e7;
}

#tabelaresultado th {
	color:white;
	background-color:#1f9ed7;	
	border-left:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
	padding:3px;
	vertical-align:top;
}

#linha_com_cor {
	background-color:#c7e7f5;	
	padding:3px;
	vertical-align:top;
}

#linha_com_cor td {
	border-left:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
	font-size:10px;
}

#linha_sem_cor {
	background-color:white;	
	padding:3px;
	vertical-align:top;
}

#linha_sem_cor td {
	border-left:1px solid #e7e7e7;
	border-right:1px solid #e7e7e7;
	font-size:10px;
}

.container_11 .grid_900 {width:95%;}
